.container__big-card{
  padding: 60px;
}

.big-card__title > h1{
  font-size: 20px;
  margin-top: 15px;
}

.big-card__description > p{
  color: gray;
  margin-top: 10px;
}

.big-card__photo{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  }

.big-card__photo > img{
  width: 100%;
}
