.container__menu-title{
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 18, 18);
  margin: 0 12.2%;
  height: 280px;
}

.container__menu-title > h1{
  display: flex;
  justify-content: center;

  margin: 10px 0;

  font-size: 2rem;
  line-height: 273.2px;
  letter-spacing: -15px;
}

hr {
  border-color: rgba(0, 0, 0, 0.377);
  margin: 0 60px 0 60px;
}


@media screen and (min-width: 380px) {
  .container__menu-title > h1{
    font-size: 85px;
    letter-spacing: -3px;
    line-height: 88px;
  }

  .container__menu-title{
    margin: 0;
  }

  hr{
    margin: 0;
  }
}

@media screen and (min-width: 576px) {
  .container__menu-title > h1{
    font-size: 105px;
    line-height: 200px;
  }
}

@media screen and (min-width: 992px) {
  .container__menu-title > h1{
    font-size: 208px;
  }
}

@media screen and (min-width: 1420px){
  .container__menu-title > h1{
    font-size: 100px;
    line-height: 150px;
  }
  .container__menu-title{
    height: 350px;
  }
};


