.container__articles{
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  background-color: rgb(18, 18, 18);
  margin: 0 12.2%;
  width: 75.6%;
}
app-big-card{
  display: flex;
}
.articles__main{
  display: flex;
  margin: 60px;
}
.articles__others{
  margin: 60px;
}

@media screen and (min-width: 380px) {

  .container__articles{
    display: grid;
    /* flex-direction: column; */
    grid-template: 1fr / 1fr;
    margin: 0;
    width: 100%;
  }
  .articles__main{
    margin: 20px;
  }
  .articles__others{
    margin: 10px;
  }
}

@media screen and (min-width: 576px) {
  .container__articles {
      grid-template-columns: 1fr 1fr / 1fr;
  }
}

@media screen and (min-width: 992px) {
  .container__articles {
      grid-template: 1fr / 1fr 1fr;
  }
}

@media screen and (min-width: 1420px) {
  .container__articles{
    padding-bottom: 100px;
  }
  .articles__main{
    margin: 60px 80px 0 140px;
  }

  .articles__others{
    margin: 60px 140px 0 80px;
  }
}
