.container__articles{
  display: grid;
  grid-template-columns: minmax(0, 1.2fr) minmax(0, 0.8fr);
  gap: 32px;
  max-width: 1200px;
  width: 100%;
  margin: 32px auto 0;
  padding: 0 24px;
}

app-big-card{
  display: flex;
  width: 100%;
}

.articles__main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles__others{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .container__articles{
    grid-template-columns: 1fr;
  }
}
