.container__menu-bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  margin: 0 232px 0 232px;
  padding: 50px 60px;
  background-color: rgb(18, 18, 18);
}

.item__menu-bar{
  padding-top: 9px;
  padding-bottom: 9px;
  letter-spacing: 1px;
  margin-right: 40px;
  list-style: none;
  opacity: 0.5;
}

  img{
  width: 2.5rem;
  padding-top: 9px;
  padding-bottom: 9px;
  letter-spacing: 1px;
  margin-right: 40px;
  list-style: none;
  }
